# Local desktop / dev configs
.config/

# Build artifacts
*.img
*.iso
*.qcow2
*.raw
limine/rootfs.squashfs
limine/vmlinuz-linux
limine/limine.zip
thin-client.iso

# Rootfs (generated)
src/rootfs/

# MkDocs
site/

# Docs (generated)
Docs/

# Logs
*.log

# Editor / IDE
.vscode/
.idea/
